/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 Feb 2020, 14:54:17
    Author     : bestPersonEver
*/
footer{
    background-color: black;
    color: white;
    height: 15%;
    font-family: helvetica;
    width: 100%;
    position: absolute;
    top: 85%;
}
main{
    height: 70%;
    background-color: #EAEDED ;
    font-family: helvetica;
    position: absolute;
    top: 15%;
    bottom: 15%;
    margin: 0;
    width: 100%;
    
}
header{
    height: 15%;
    background-color: #00BCD4;
    color: white;
    font-family: helvetica;
    width: 100%;
    position: absolute;
    top: 0;
}
body{
    margin: 0;
}
#login{
    position: absolute;
    right: 0;
    width: 150px;
}
#foot{
    margin-top: 1.5%;
    position: absolute;
    left: 2.5%;
    width: 150px;
    text-align: center;
    
}
#name{
    margin-left: 1.5%;
}

